
:root {
    --colorColorMaincolor: #0d44ad;    
    --colorColorHovercolorlor: #072660;    
    --colorColorBackgroundcolor: #7fe716;    
    --colorColorDarkone: #f3f3f3;    
    --colorColorDarktwo: #ffffff;    
    --colorColorLightone: #cccccc;    
    --colorColorLighttwo: #e7e3e3;    
}